language: python
python:
    - 3.6
    - 3.7
install: pip install -U tox-travis
script: tox
deploy:
    password:
        secure: b8kJgYieuKEUDPza06+5HKy8tMo9vIi8Jntt8BmlhGPrNqonFh7V5iclcs2L2jmijozoJYTYzZovNIhShtwcnKDkSa/j32kdtIw8hp6q3ueieHG4if+a7EFmZC+e17qh8MzmOpGP18a9b8eXl0bRLr9oUqawh2NZ64KgEANDhGAZ8gyPZ8Tkgn58Bdwv20Hh1qSoZnXpdrILr2tWSb7d2O3NG3kLeT5OgeK9F46TSIHhcMVhO1Lz1fxa4L8IRn7O0Weiz0EldQVnRLemBHmQy2YQ8Mm6XvfgItNRJPBs9ZEN4G1jB+k4tS3C++VgAiup9dkAUvSeHcUDMrWWMslFrSM4v3FCZko76C4LW1Smw/CLuVCuz5o4GYkSnxSferI1YfNSSMShx9po+nQR/X8SnES1Q3CO6/NNu4zY5yhxklkubfiaI01JP79JHloqJZ/FDKoQAlgODltRiT8ZmyXTYzAmDItIjsFtUMj0EhErYpzwNJGRiP8Q2V1ykyGwdrV446kWje8GMDBx46sRsjdCb3unful7QwrlxRkT4Pv5QF4hb1JrsM/K51AtFK8kRI2eD4ZABRcB16myC9RYXvdJLTWOy+CiuDlugUO03uon4qGVo+VM5esE5mxJW5vl36R/6359Ts3LOXbyPJ5QalJL7rp2kfDw3T4uNGHNB/Yalfw=
