[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
click = ">=6.7"
coloredlogs = ">=10.0"
pandas = ">=0.23.3"
prettytable = ">=0.7.2"
pytdx = ">=1.67"
requests = "*"

[requires]
python_version = "3.7"
