[[source]]

url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"


[dev-packages]

pytest = "*"
ipython = "*"


[packages]

pytdx = "*"
click = "*"
prettytable = "*"
coloredlogs = "*"
pylama = "*"
sh = "*"


[requires]

python_version = "3.6"
