[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pipenv-to-requirements = "*"
gitchangelog = "*"
bumpversion = "*"
pytest = "*"
pystache = "*"
mock = "*"
useragent = "*"
httmock = "*"
vcrpy = "*"
coverage = "*"
responses = "*"
coloredlogs = "*"
respx = "*"

[packages]
prettytable = "*"
tenacity = "*"
pandas = "*"
loguru = "*"
httpx = "*"
tqdm = "*"
click = "*"
pytdx = "*"
tdxpy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
